* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  background-color: #f58634;
  padding: 15px 0px;
}

header h5 {
  font-size: 48px;
  line-height: 58px;
  color: #fff;
}

footer {
  background-color: #f58634;
  margin: 30px 0px;
  text-align: center;
}

footer p {
  color: #fff;
}
